[submodule "third_party/libutp"]
  path = third_party/libutp
  url = https://github.com/bittorrent/libutp.git
  ignore = dirty
[submodule "third_party/proto-quic"]
  path = third_party/proto-quic
  url = https://github.com/google/proto-quic.git
  ignore = dirty
[submodule "third_party/pcc"]
  path = third_party/pcc
  url = https://github.com/modong/pcc.git
  ignore = dirty
[submodule "third_party/verus"]
  path = third_party/verus
  url = https://github.com/yzaki/verus.git
  ignore = dirty
[submodule "third_party/webrtc"]
  path = third_party/webrtc
  url = https://github.com/StanfordSNR/webrtc.git
  ignore = dirty
[submodule "third_party/sprout"]
  path = third_party/sprout
  url = https://github.com/keithw/alfalfa.git
  ignore = dirty
[submodule "third_party/scream"]
  path = third_party/scream
  url = https://github.com/EricssonResearch/scream.git
  ignore = dirty
[submodule "third_party/sourdough"]
  path = third_party/sourdough
  url = https://github.com/keithw/sourdough
  ignore = dirty
[submodule "third_party/koho_cc"]
  path = third_party/koho_cc
  url = https://github.com/greghill/koho_cc.git
  ignore = dirty
[submodule "third_party/pantheon-tunnel"]
  path = third_party/pantheon-tunnel
  url = https://github.com/StanfordSNR/pantheon-tunnel.git
  ignore = dirty
[submodule "third_party/genericCC"]
  path = third_party/genericCC
  url = https://github.com/venkatarun95/genericCC
  ignore = dirty
[submodule "third_party/calibrated_koho"]
  path = third_party/calibrated_koho
  url = https://github.com/greghill/koho_cc.git
  branch = calibrated_koho
  ignore = dirty
[submodule "third_party/indigo"]
  path = third_party/indigo
  url = https://github.com/StanfordSNR/RLCC.git
  branch = indigo
  ignore = dirty
[submodule "third_party/indigo-1-layer-4-dim"]
	path = third_party/indigo-1-layer-4-dim
	url = https://github.com/StanfordSNR/indigo.git
[submodule "third_party/indigo-1-layer-8-dim"]
	path = third_party/indigo-1-layer-8-dim
	url = https://github.com/StanfordSNR/indigo.git
[submodule "third_party/indigo-1-layer-16-dim"]
	path = third_party/indigo-1-layer-16-dim
	url = https://github.com/StanfordSNR/indigo.git
[submodule "third_party/indigo-1-layer-32-dim"]
	path = third_party/indigo-1-layer-32-dim
	url = https://github.com/StanfordSNR/indigo.git
[submodule "third_party/indigo-1-layer-64-dim"]
	path = third_party/indigo-1-layer-64-dim
	url = https://github.com/StanfordSNR/indigo.git
[submodule "third_party/indigo-1-layer-128-dim"]
	path = third_party/indigo-1-layer-128-dim
	url = https://github.com/StanfordSNR/indigo.git
[submodule "third_party/indigo-1-layer-256-dim"]
	path = third_party/indigo-1-layer-256-dim
	url = https://github.com/StanfordSNR/indigo.git
[submodule "third_party/indigo-2-layer-4-dim"]
	path = third_party/indigo-2-layer-4-dim
	url = https://github.com/StanfordSNR/indigo.git
[submodule "third_party/indigo-2-layer-8-dim"]
	path = third_party/indigo-2-layer-8-dim
	url = https://github.com/StanfordSNR/indigo.git
[submodule "third_party/indigo-2-layer-16-dim"]
	path = third_party/indigo-2-layer-16-dim
	url = https://github.com/StanfordSNR/indigo.git
[submodule "third_party/indigo-2-layer-32-dim"]
	path = third_party/indigo-2-layer-32-dim
	url = https://github.com/StanfordSNR/indigo.git
[submodule "third_party/indigo-2-layer-64-dim"]
	path = third_party/indigo-2-layer-64-dim
	url = https://github.com/StanfordSNR/indigo.git
[submodule "third_party/indigo-2-layer-128-dim"]
	path = third_party/indigo-2-layer-128-dim
	url = https://github.com/StanfordSNR/indigo.git
[submodule "third_party/indigo-1-layer-2-dim"]
	path = third_party/indigo-1-layer-2-dim
	url = git@github.com:StanfordSNR/indigo.git
[submodule "third_party/indigo-1-layer-1-dim"]
	path = third_party/indigo-1-layer-1-dim
	url = git@github.com:StanfordSNR/indigo.git
