[submodule "third_party/libutp"]
  path = third_party/libutp
  url = https://github.com/bittorrent/libutp.git
  ignore = dirty
[submodule "third_party/proto-quic"]
  path = third_party/proto-quic
  url = https://github.com/google/proto-quic.git
  ignore = dirty
[submodule "third_party/pcc"]
  path = third_party/pcc
  url = https://github.com/modong/pcc.git
  ignore = dirty
[submodule "third_party/verus"]
  path = third_party/verus
  url = https://github.com/yzaki/verus.git
  ignore = dirty
[submodule "third_party/webrtc"]
  path = third_party/webrtc
  url = https://github.com/StanfordSNR/webrtc.git
  ignore = dirty
[submodule "third_party/sprout"]
  path = third_party/sprout
  url = https://github.com/keithw/alfalfa.git
  ignore = dirty
[submodule "third_party/scream"]
  path = third_party/scream
  url = https://github.com/EricssonResearch/scream.git
  ignore = dirty
[submodule "third_party/sourdough"]
  path = third_party/sourdough
  url = https://github.com/keithw/sourdough
  ignore = dirty
[submodule "third_party/koho_cc"]
  path = third_party/koho_cc
  url = https://github.com/greghill/koho_cc.git
  ignore = dirty
[submodule "third_party/pantheon-tunnel"]
  path = third_party/pantheon-tunnel
  url = https://github.com/StanfordSNR/pantheon-tunnel.git
  ignore = dirty
[submodule "third_party/genericCC"]
  path = third_party/genericCC
  url = https://github.com/venkatarun95/genericCC
  ignore = dirty
[submodule "third_party/calibrated_koho"]
  path = third_party/calibrated_koho
  url = https://github.com/greghill/koho_cc.git
  branch = calibrated_koho
  ignore = dirty
[submodule "third_party/indigo"]
  path = third_party/indigo
  url = https://github.com/StanfordSNR/indigo.git
  branch = master
  ignore = dirty
[submodule "third_party/FillP"]
	path = third_party/FillP
	url = https://github.com/fillthepipe/fill-the-pipe.git
